@import './resets.scss';
$color1 :#070707;
$color2 :#ffc404;
@mixin display($o) {
    display: flex;
    justify-content: $o;
}
.containers{
    margin-left: 20px;
    margin-right: 15px;
}
.stepper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    .stepper__item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    .circle{
        background: #FFF;
        height: 30px;
        width: 70px;
        display: flex;
        justify-content: center;
        border-radius: 50px;
        border: 3px solid whitesmoke;
    }
    .circle-acitve{
        border-color: $color2;
    }
}
// line
.stepper__item:not(:last-child) {
    flex: 1;
}
.stepper__item:not(:last-child):after {
    content: "";
    flex: 1;
    height: 2px;
    background-color: #e0e0e0;
    margin-inline-end: 0.5rem;
}
// -------
.container {
    width: 100vw;
    box-shadow: 2px 2px 2px rgb(168, 168, 168);
    .breadcrumbs {
        @include display(space-between);
    }
    .logo {
        width: 80px;
        height: 80px;
    }
    .crumbs {
        display: flex;
        align-items: center;
    }
    ul {
        list-style: none;
        display: flex;
        a {
            margin-right: 35px;
            text-decoration: none;
            color: $color1;
        }
    }
}

.training {
    @include display(space-around);
    margin-top: 20px;
    color: #041461;
    font-family: Arial, Helvetica, sans-serif;
}

.lance {
    min-height: 60vh;
    width: 100%;
    @include display(center);
    align-items: center;
    flex-direction: column;
    //margin: 10px;

    //align-items: flex-start;
    input {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 18px;
    }
    .siz {
        @include display(center);
        width: 50%;
    }
    button {
        // display: inline-block;
        background-color: $color2;
        border-radius: 10px;
        border: 4px double #cccccc;
        color: $color1;
        text-align: center;
        font-size: 13px;
        padding: 10px;
        width: 100px;
        cursor: pointer;
        margin: 5px;
    }
    #alert {
        color: orangered;
        font-size: 1.2rem;
    }
    .quiz {
        font-size: 3rem;
    }
    #counter-to-start {
        font-size: 4.5rem;
        @include display(center);
        color: $color2
    }
    #quz {
        @include display(center);
        margin-left: 30px;
        width: 45%;
    }
    #title {
        font-size: 1.1em;
        color: blue;
        border: 1px solid #ffc404;
        background-color: #fdf6df;
        margin-bottom: 10px;
    }
    #prog {
        height: 30px;
        width: 95%;
        margin-bottom: 10px;
    }
    .btns {
        @include display(center);
    }
    
    .resultat{
        width: 30vw;
        height: 30vh;
    .name{
        @include display(center);
        align-items: center;
        background: rgba( 234, 234, 111, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        margin-bottom: 20px;
        height: 30px;
    }
    .correct{
        @include display(center);
        color: rgb(8, 243, 8);
        margin-bottom:20px;
    }
    
    .fausse{
        @include display(center);
        color: rgb(255, 74, 74);
        margin-bottom: 20px;}
    .mention{
        @include display(center);
    }
    .btnansr{
        @include display(center);
    }
    .Answers{
        margin-top: 20px;
    }
    .ll{
        margin-bottom: 10px;
    }

}

}
.display{
    display: flex;
    align-items: center;}
    .ans{
        border: solid 0.5px gray;
        margin-top: 10px;
        margin-top: 10px;
        background-color: #f3e8c3;
        box-shadow: 10px 10px 10px ;
    }
    .tit{
        margin-top: 2%;
        color: crimson;
        margin-left: 2%;
        // margin-top: 10px;
    }
    #results{    
        margin: 26px;}
footer {
    @include display(center);
    font-size: 0.9rem;
}
@media screen and (max-width: 390px){
    .lance{min-height: 71vh;
       #counter-to-start,.quiz{
            font-size:1.4rem;}}
    
    .res{display: none;}
    h3 {font-size:0.9rem}
    .global{
        @include display(center);
        width: 97%;
    }
    .tt{width: 94vw;}
    .ll{width: 93vw;
        border: solid 0.5px $color2;
        background-color: #fae5e5;
    }
    #prog{
        width: 300px;
    }
    
}